
@{
    ViewData["Title"] = "Index";
}


<div class="scrollTop" id="scrollTop">
    <button><i class="fa fa-angle-double-up"></i></button>
</div>

<section class="cart blog">
    <div class="row">
        <div class="">
            <img src="images/heading-pages-05.jpg" alt="">
            <h1>BLOG</h1>
        </div>
    </div>
</section>

<div class="container mt-5 blogs">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <img src="images/blog-04.jpg" alt="">
                    <a asp-controller="BlogDetail" asp-action="Index">Black Friday Guide: Best Sales & Discount Codes</a>
                    <div class="blog-details">
                        <span>By Admin </span>
                        <label class='line'></label>
                        <span>Cooking, Food</span>
                        <label class='line'></label>
                        <span>8 Comments</span>
                        <p class="mt-3 blog-info">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius</p>
                        <a asp-controller="BlogDetail" asp-action="Index" class="read-more">Continue Reading <i class="fa fa-long-arrow-right ml-2 pl-0"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="images/blog-05.jpg" alt="">
                    <a href="blog-detail.html">The White Sneakers Nearly Every Fashion Girls Own</a>
                    <div class="blog-details">
                        <span>By Admin </span>
                        <label class='line'></label>
                        <span>Fashion, Life style</span>
                        <label class='line'></label>
                        <span>8 Comments</span>
                        <p class="mt-3 blog-info">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius</p>
                        <a href="blog-detail.html" class="read-more">Continue Reading <i class="fa fa-long-arrow-right ml-2 pl-0"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="images/blog-08.jpg" alt="">
                    <a href="blog-detail.html">Black Friday Guide: Best Sales & Discount Codes</a>
                    <div class="blog-details">
                        <span>By Admin </span>
                        <label class='line'></label>
                        <span>Cooking, Food</span>
                        <label class='line'></label>
                        <span>8 Comments</span>
                        <p class="mt-3 blog-info">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius</p>
                        <a href="blog-detail.html" class="read-more">Continue Reading <i class="fa fa-long-arrow-right ml-2 pl-0"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="images/blog-02.jpg" alt="">
                    <a href="blog-detail.html">Black Friday Guide: Best Sales & Discount Codes</a>
                    <div class="blog-details">
                        <span>By Admin </span>
                        <label class='line'></label>
                        <span>Cooking, Food</span>
                        <label class='line'></label>
                        <span>8 Comments</span>
                        <p class="mt-3 blog-info">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius</p>
                        <a href="blog-detail.html" class="read-more">Continue Reading <i class="fa fa-long-arrow-right ml-2 pl-0"></i></a>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="images/blog-03.jpg" alt="">
                    <a href="blog-detail.html">Black Friday Guide: Best Sales & Discount Codes</a>
                    <div class="blog-details">
                        <span>By Admin </span>
                        <label class='line'></label>
                        <span>Cooking, Food</span>
                        <label class='line'></label>
                        <span>8 Comments</span>
                        <p class="mt-3 blog-info">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce eget dictum tortor. Donec dictum vitae sapien eu varius</p>
                        <a href="blog-detail.html" class="read-more">Continue Reading <i class="fa fa-long-arrow-right ml-2 pl-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-sm-12"></div>
        <div class="col-lg-3 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <input type="search" name="" id="" class="form-control w-100" placeholder="Search">
                </div>
                <div class="col-lg-12 col-sm-12 Categories">
                    <h5>Categories</h5>
                    <ul>
                        <li class="border"> <a href="#">Fashion</a></li>
                        <li class="category"> <a href="#">Beauty</a></li>
                        <li class="category"><a href="#">Street Style </a></li>
                        <li class="category"><a href="#">Life Style </a></li>
                        <li class="category"><a href="#">DIY & Crafts </a></li>
                    </ul>
                </div>
                <div clas="col-lg-12 col-sm-12 little-items mt-5">
                    <div class="col-lg-12 col-sm-12">
                        <h5>Featured Products</h5>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-16.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="product-detail.html">White Shirt With Pleat Detail Back</a>
                                <span class="littlePrice">$19.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-17.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="product-detail.html">Converse All Star Hi Black Canvas</a>
                                <span class="littlePrice">$39.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-08.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="product-detail.html">Nixon Porter Leather Watch</a>
                                <span class="littlePrice">$17.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-03.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="product-detail.html">Denim jacket blue</a>
                                <span class="littlePrice">$39.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-05.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="product-detail.html">Nixon Porter Leather Watch</a>
                                <span class="littlePrice">$18.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 archive mt-5">
                    <h5>Archive</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">July 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(9)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">June 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(39)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">May 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(29)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">April 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(35)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">March 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(22)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">February 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(32)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">January 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(21)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">October 2017</a>
                                </div>
                                <div class="col-lg-6 text-right">(26)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 tags">
                    <h5>Tags</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 mb-2">
                            <a href="">Fashion</a>
                            <a href="">Lifestyle</a>
                            <a href="">Denim</a>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <a href="">Streetstyle</a>
                            <a href="">Crafts</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>