
@model List<SizeColorToProduct>
@{
    ViewData["Title"] = "Index";
}

<div class="scrollTop" id="scrollTop">
    <button><i class="fa fa-angle-double-up"></i></button>
</div>
<section class="cart">
    <div class="row">
        <div class="">
            <img src="images/heading-pages-01.jpg" alt="">
            <h1>CART</h1>
        </div>
    </div>
</section>
<section>
    <div class="prod container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="table-active" id="opp" colspan="2">
                        <h6 class=" table-name">PRODUCT</h6>
                    </th>
                    <th scope="col" class="table-active" id="opp">
                        <h6 class=" table-name1">PRICE</h6>
                    </th>
                    <th scope="col" class="table-active" id="opp">
                        <h6 class=" table-name2">QUANTITY</h6>
                    </th>
                    <th scope="col" class="table-active" id="opp">
                        <h6 class=" table-name3">TOTAL</h6>
                    </th>
                </tr>
            </thead>
        </table>
        <div class="prod container mt-5" style="border:1px solid #e2e2e2">
            <table class="table">
                <tbody>
                    @foreach (var item in Model)
                    {
                        DateTime? discountDate = item.DiscountDate;
                        <tr>
                            <td class="tdSmall">
                                <img src="~/Uploads/@item.ColorToProduct.ProductImages.FirstOrDefault().Image" alt="">
                            </td>
                            <td class=" pro-name">Women Tshirt</td>
                            <td class=" pro-name">$@(discountDate != null && discountDate > DateTime.Now ? item.DiscountPrice : item.Price)</td>
                            <td>
                                <button class="comm btn btn-light btn-decrease" id='btn-decrease1'>-</button>
                                <input type="number" value="1" max="100" min="1" id="input1" class="form-control">
                                <button class="btn btn-light btn-increase" id="btn-increase1">+</button>
                            </td>
                            <td class=" pro-name" id="total1">@(discountDate != null && discountDate > DateTime.Now ? 1 * item.DiscountPrice : 1 * item.Price)</td>
                        </tr>
                    }

                 
                </tbody>
            </table>
        </div>

        <div class=" cupppon">
            <div class="container dcd">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <input type="text" placeholder="Coupon Code" class="cupon form-control" id="couponCode">
                            </div>
                            <div class="col-6">
                                <button class="apply-cart btn btn-dark" id="couponBtn">APPLY COUPON</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-6 updateCart">
                        <button class="update-cart btn btn-dark ">UPDATE CART</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class='cartTotals mt-5'>
    <div class="container mt-5">
        <div class="row ">
            <div class="col-lg-12 mt-3" style="border:1px solid #e2e2e2">

                <form action="" class=" forma">
                    @{decimal? subTotal = Model.Sum(s => s.DiscountDate != null && s.DiscountDate > DateTime.Now ? s.DiscountPrice : s.Price);}
                    <h4>CART TOTALS</h4>
                    <div class=" row">

                        <div class=" col-lg-4">
                            <span>Subtotal: </span>
                        </div>
                        <div class=" col-lg-8">
                            <span>$@subTotal</span>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class=" row">
                            <div class=" col-lg-4">
                                <span>Shipping: </span>
                            </div>
                            <div class=" col-lg-8">
                                @if (subTotal >= 100)
                                {
                                    <span>Free</span>
                                }
                                else
                                {
                                    <span>$</span><span>10</span>
                                }

                            </div>
                        </div>


                    </div>
                    <div>
                        @*<div class=" row">
                            <div class=" col-lg-4"></div>
                            <div class=" col-lg-8">
                                <h6 class="mt-3">CALCULATE SHIPPING</h6>
                            </div>
                            <div class=" col-lg-4"></div>
                            <div class=" col-lg-8">
                                <select name="country" id="" class="form-control w-100 mt-3">
                                    <option value="Select a country...">Select a country...</option>
                                    <option value="UK">UK</option>
                                    <option value="US">US</option>
                                    <option value="Japan">Japan</option>
                                </select>
                                <input type="text" placeholder="state / country" class="form-control w-100 mt-3 mb-3">
                                <input type="text" placeholder="Postcode / Zip" class="form-control w-100 mt-3 mb-3">
                                <button class=" btn btn-dark w-110">
                                    <h6 class=" update-title">UPDATE TOTALS</h6>
                                </button>
                            </div>
                        </div>*@
                    </div>
                    <hr>
                    <div class=" row">
                        <div class=" col-lg-4">
                            <span>Total: </span>
                        </div>
                        <div class=" col-lg-6">
                            @if (subTotal >= 100)
                            {
                                <span>$</span>@subTotal
                            }
                            else
                            {
                                <span>$</span>@(subTotal+10)
                            }
                         
                        </div>
                    </div>
                    <div>
                        <button class="check btn btn-dark w-100">UPDATE TOTALS</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="js/coupon.js"></script>