@model VmHome
@{
    ViewData["Title"] = "Index";
}

<div class="scrollTop" id="scrollTop">
    <button><i class="fa fa-angle-double-up"></i></button>
</div>
<section class="cart about mb-5">
    <div class="row">
        <div>
            <img src="images/heading-pages-06.jpg" alt="">
            <h1>ABOUT</h1>
        </div>
    </div>
</section>

<section>
    <div class="container about">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/banner-14.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Our story</h3>
                    </div>
                    <div class="col-lg-12">
                        <p>
                            Phasellus egestas nisi nisi, lobortis ultricies risus semper nec. Vestibulum pharetra ac ante ut pellentesque. Curabitur fringilla dolor quis lorem accumsan, vitae molestie urna dapibus. Pellentesque porta est ac neque bibendum
                            viverra. Vivamus lobortis magna ut interdum laoreet. Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla turpis in vehicula vehicula. Pellentesque
                            congue ac orci ut gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt erat arcu ut sem.
                            Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac ligula. Vivamus tristique vulputate ultricies. Sed vitae ultrices orci.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <label></label>
                            </div>
                            <div class="col-lg-11">
                                <p>
                                    Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.
                                </p>
                                <span class="author">
                                    -Steve Job's
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>