
@{
    ViewData["Title"] = "Index";
}

<div class="scrollTop" id="scrollTop">
    <button><i class="fa fa-angle-double-up"></i></button>
</div>

<section class="navigation">
    <div class="container-fluid">
        <div class="col-lg-12 col-sm-12 mt-3">
            <a href="index.html">Home <i class="fa fa-angle-right pl-1"></i></a>
            <a href="blog.html" class='pl-3'>Blog <i class="fa fa-angle-right pl-1 "></i></a>
            <span>Black Friday Guide: Best Sales & Discount Codes</span>
        </div>
    </div>
</section>

<div class="container mt-5 blogs blog-detail">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-1">
                    <img src="images/blog-04.jpg" alt="">
                    <a href="blog-detail.html">Black Friday Guide: Best Sales & Discount Codes</a>
                    <div class="blog-details">
                        <span>By Admin </span>
                        <label class='line'></label>
                        <span>Cooking, Food</span>
                        <label class='line'></label>
                        <span>8 Comments</span>
                        <p class="mt-3 blog-info">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed turpis sed lorem dignissim vulputate nec cursus ante. Nunc sit amet tempor magna. Donec eros sem, porta eget leo et, varius eleifend mauris. Donec eu leo congue,
                            faucibus quam eu, viverra mauris. Nulla consectetur lorem mi, at scelerisque metus hendrerit vitae. Proin vel magna vel neque porta ultricies non eget mauris. Suspendisse potenti.
                        </p>
                        <p class="mt-3 blog-info">
                            Aliquam faucibus scelerisque placerat. Vestibulum vel libero eu nulla varius pretium eget eu magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean dictum faucibus felis,
                            ac vestibulum risus mollis in. Phasellus neque dolor, euismod vitae auctor eget, dignissim a felis. Etiam malesuada elit a nibh aliquam, placerat ultricies nibh dictum. Nam ut egestas velit. Pellentesque viverra tincidunt
                            tellus. Etiam cursus, ligula id vehicula cursus, turpis mauris facilisis massa, eget tincidunt est purus et odio. Nam quis luctus libero, non posuere velit. Ut eu varius diam, eu euismod elit. Donec efficitur, neque eu
                            consectetur consectetur, dui sem consectetur felis, vitae rutrum risus urna vel arcu. Aliquam semper ullamcorper laoreet. Sed arcu lectus, fermentum imperdiet purus eu, ornare ornare libero.
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 tags ">
                    <span class="mr-3">Tags</span>
                    <a href="#">Streetstyle</a>
                    <a href="#">Crafts</a>
                </div>
                <div class="col-lg-12 col-sm-12 mt-3">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h5>LEAVE A COMMENT</h5>
                            <p>Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <form action="">
                                <textarea name="" id="" cols="1" rows="5" placeholder="Comment" class="form-control"></textarea>
                                <input type="text" class="form-control w-50 mt-3" placeholder="Name*">
                                <input type="email" name="" id="" class="form-control w-50 mt-3" placeholder="Email">
                                <input type="text" name="website" id="" placeholder="Website" class="form-control w-50 mt-3">
                                <input type="submit" value="POST COMMENT" class="btn btn-dark mt-5">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-sm-12"></div>
        <div class="col-lg-3 col-sm-12">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <input type="search" name="" id="" class="form-control w-100" placeholder="Search">
                </div>
                <div class="col-lg-12 col-sm-12 Categories">
                    <h5>Categories</h5>
                    <ul>
                        <li class="border"> <a href="#">Fashion</a></li>
                        <li class="category"> <a href="#">Beauty</a></li>
                        <li class="category"><a href="#">Street Style </a></li>
                        <li class="category"><a href="#">Life Style </a></li>
                        <li class="category"><a href="#">DIY & Crafts </a></li>
                    </ul>
                </div>
                <div clas="col-lg-12 col-sm-12 little-items mt-5">
                    <div class="col-lg-12 col-sm-12">
                        <h5>Featured Products</h5>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-16.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="#">White Shirt With Pleat Detail Back</a>
                                <span class="littlePrice">$19.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-17.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="#">Converse All Star Hi Black Canvas</a>
                                <span class="littlePrice">$39.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-08.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="#">Nixon Porter Leather Watch</a>
                                <span class="littlePrice">$17.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-03.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="#">Denim jacket blue</a>
                                <span class="littlePrice">$39.00</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-sm-6">
                                <img src="images/item-05.jpg" alt="">
                            </div>
                            <div class="col-lg-7 col-sm-6">
                                <a href="#">Nixon Porter Leather Watch</a>
                                <span class="littlePrice">$18.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 archive mt-5">
                    <h5>Archive</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">July 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(9)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">June 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(39)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">May 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(29)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">April 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(35)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">March 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(22)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">February 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(32)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">January 2018</a>
                                </div>
                                <div class="col-lg-6 text-right">(21)</div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="">October 2017</a>
                                </div>
                                <div class="col-lg-6 text-right">(26)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12 tags">
                    <h5>Tags</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 mb-2">
                            <a href="">Fashion</a>
                            <a href="">Lifestyle</a>
                            <a href="">Denim</a>
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <a href="">Streetstyle</a>
                            <a href="">Crafts</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
